:root {
    --overlay-color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v15-latin-300.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin-300.woff') format('woff')
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    word-wrap: normal;
    min-width: 320px;
    color: var(--overlay-color);
    background-color: #4C1DD2;
}

a:focus {
    outline: none;
}

input:required {
    box-shadow: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

img {
    object-fit: contain;
    /* ПОЛИФИЛ ДЛЯ IE */
    font-family: 'object-fit: contain;';
    max-width: 100%;
    height: auto;
}

.button {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 166px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border-radius: 35px;
    padding-top: 15px;
}

.button:hover,
.button:focus,
.button:active {
    opacity: 0.5;
}

.header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container {
    display: flex;
    margin: 0;
    max-width: 1200px;
    width: 100%;
}

.header__block {
    padding-bottom: 38px;
}

.header__toggle {
    display: none;
}

.header__toggle:hover,
.header__toggle:focus,
.header__toggle:active {
    opacity: 0.5;
}

/*.header__logo {*/
/*    padding-top: 60px;*/
/*    margin-right: 45px;*/
/*    height: 14px;*/
/*}*/

/*.header__logo:hover,*/
/*.header__logo:focus,*/
/*.header__logo:active {*/
/*    opacity: 0.5;*/
/*}*/

/*.header__logo svg {*/
/*    display: block;*/
/*}*/

.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__wrapper::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -96px;
    width: 49px;
    height: 34px;
    background-image: url("../image/logo.svg");
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 66px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    min-width: 570px;
    width: auto;
    text-align: left;
}

.header__item {
    font-size: 17px;
    line-height: 16px;
    padding-right: 38px;
}

.header__item a {
    text-decoration: none;
    color: var(--overlay-color);
    transform: scale(0.5);
    transition: 0.5s;
    letter-spacing: 0;
}

.header__item a:hover,
.header__item a:focus,
.header__item a:active {
    opacity: 0.5;

}

.header__contacts {
    display: flex;
    max-width: 400px;
    margin-left: 180px;
    flex-wrap: wrap;
}

.header__contacts-phone {
    padding-top: 66px;
    margin-right: 43px;
}

.header__contact {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:var(--overlay-color);
    text-decoration: none;
    transform: scale(0.5);
    transition: 0.5s;
    letter-spacing: 0;
}


.header__contact:hover,
.header__contact:focus,
.header__contact:active {
    opacity: 0.5;

}

.header__contacts-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    min-width: 177px;
    background-color: #4F15F3;
    border-radius: 9px;

}

.header__contacts-whatsapp-link {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    background-position: top;
    text-decoration: none;
    color: var(--overlay-color);
    text-align: center;
    font-size: 17px;
}

.header__contact-icon {
    padding-right: 15px;
}

.header__contact-text {
    display: inline-block;
}

/*!* Планшет *!*/

/*@media (max-width: 1199px) and (min-width: 991px){*/
/*    !*.header__block {*!*/
/*    !*    flex-wrap: wrap;*!*/
/*    !*    padding-top: 26px;*!*/
/*    !*    padding-bottom: 26px;*!*/
/*    !*    width: 88.54%;*!*/
/*    !*    min-width: 680px;*!*/
/*    !*}*!*/

/*}*/
