:root {
    --overlay-color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v15-latin-300.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin-300.woff') format('woff')
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    word-wrap: normal;
    min-width: 320px;
    color: var(--overlay-color);
    background-color: #4C1DD2;
}

a:focus {
    outline: none;
}

input:required {
    box-shadow: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

img {
    object-fit: contain;
    /* ПОЛИФИЛ ДЛЯ IE */
    font-family: 'object-fit: contain;';
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container {
    display: flex;
    margin: 0;
    max-width: 1200px;
    width: 100%;
}

.header__block {
    padding-bottom: 46px;
}

.header__toggle {
    display: none;
}

.header__toggle:hover,
.header__toggle:focus,
.header__toggle:active {
    opacity: 0.5;
}

.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__wrapper::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -96px;
    width: 49px;
    height: 34px;
    background-image: url("../image/logo.svg");
}

.header__wrapper::after {
    content: "";
    position: absolute;
    top: 172px;
    left: -197px;
    width: 14px;
    height: 14px;
    background-image: url("../image/+.png");
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 66px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    min-width: 570px;
    width: auto;
    text-align: left;
}

.header__item {
    font-size: 17px;
    line-height: 16px;
    padding-right: 38px;
}

.header__item a {
    text-decoration: none;
    color: var(--overlay-color);
    transform: scale(0.5);
    transition: 0.5s;
    letter-spacing: 0;
}

.header__item a:hover,
.header__item a:focus,
.header__item a:active {
    opacity: 0.5;

}

.header__contacts {
    display: flex;
    max-width: 400px;
    margin-left: 180px;
    flex-wrap: wrap;
}

.header__contacts-phone {
    padding-top: 66px;
    margin-right: 38px;
}

.header__contact {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:var(--overlay-color);
    text-decoration: none;
    transform: scale(0.5);
    transition: 0.5s;
    letter-spacing: 1px;
}


.header__contact:hover,
.header__contact:focus,
.header__contact:active {
    opacity: 0.5;

}

.header__contacts-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
    min-width: 177px;
    background-color: #4F15F3;
    border-radius: 9px;

}

.header__contacts-whatsapp-link {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;
    background-size: cover;
    background-position: top;
    text-decoration: none;
    color: var(--overlay-color);
    text-align: center;
    font-size: 17px;
}

.header__contact-icon {
    padding-right: 15px;
}

.header__contact-text {
    display: inline-block;
}

.main-block {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-block__text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 51px;
    margin-top: 147px;
    letter-spacing: 2px;
}

.main-block__text::before {
    content: "";
    position: absolute;
    width: 710px;
    height: 710px;
    left: -527px;
    top: -196px;
    background: url("../image/bubble2 4.png") no-repeat;
    z-index: -2;
}

.main-text {
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 24px;
}

.main-text::after {
    content: "";
    position: absolute;
    top: 430px;
    left: -119px;
    width: 9px;
    height: 9px;
    background-image: url("../image/++.png");
}

.main-text::before {
    content: "";
    position: absolute;
    top: -51px;
    left: 621px;
    width: 19px;
    height: 19px;
    background-image: url("../image/Ellipse 5.png");
}

.main-text__p {
    position: relative;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
}

.main-text__p::before {
    content: "";
    position: absolute;
    top: 52px;
    left: 655px;
    width: 8px;
    height: 8px;
    background: url("../image/little+.png");
}

.main-block__paragraph {
    margin: 0;
    width: 470px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 34px;
    font-family: 'Raleway', sans-serif;

}

.main-block__form {
    display: flex;
}

.main-input input {
    margin-right: 20px;
    width: 287px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 17px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}


.btn {
    display: block;
    width: 335px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 17px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background: #F86161;
    border: none;
    border-radius: 12px;
}

.btn:hover {
    opacity: 0.5;
}

.main-block__dinamic {
    position: relative;
    margin-top: 5px;
    width: 527px;
    height: 680px;
    background-image: url("../image/2f75d3fc803667f4 1.png");
}

.main-block__dinamic::before {
    content: "";
    position: absolute;
    top: 82px;
    left: 63px;
    width: 445px;
    height: 598px;
    background: #F86161;
    border-radius: 59px;
    z-index: -1;
}

.main-block__dinamic::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 448px;
    width: 109px;
    height: 107px;
    background: url("../image/dot.png");
    z-index: -2;
}

/*.main-block__rectangle-container {*/
/*    position: fixed;*/
/*}*/

.main-block__rectangle {
    position: absolute;
    top: 480px;
    left: 57px;
    width: 164px;
    height: 159px;
    border-radius: 4px;
    background-image: url("../image/Rectangle 40.png");
    z-index: 1;
}


.main-block__quantity {
    position: relative;
    top: 25px;
    right: 0;
    width: 159px;
    height: 186px;
    background: #121B30;
    border-radius: 21px;
}

.main-block__quantity::before {
    content: "";
    position: absolute;
    top: 41px;
    right: 69px;
    width: 24px;
    height: 18px;
    background-image: url("../image/🎨 people.png");
    z-index: 1;
}

.main-block__quantity::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 55px;
    width: 52px;
    height: 52px;
    background: #F6F4FC;
    border-radius: 50px;
}

.main-block__percent {
    padding-left: 47px;
    padding-top: 92px;
    font-size: 22px;
    margin-bottom: 0;
}

.main-block__client {
    margin: 0;
    padding-top: 4px;
    padding-left: 17px;
    text-align: center;
    font-size: 12px;
    max-width: 140px;
    line-height: 19px;
}

.main-block__sales {
    position: relative;
    top: 96px;
    left: 391px;
    width: 288px;
    height: 99px;
    background: #121B30;
    border-radius: 21px;
}

.main-block__sales::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 232px;
    width: 20px;
    height: 21px;
    background-image: url("../image/🎨 half-circle.png");
    z-index: 1;
}

.main-block__sales::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 217px;
    width: 52px;
    height: 52px;
    background: #F6F4FC;
    border-radius: 50px;
}

.main-block__1000 {
    font-size: 22px;
    padding-left: 86px;
    padding-top: 15px;
    margin: 0;
}

.main-block__inmonths {
    font-size: 12px;
    max-width: 243px;
    line-height: 15px;
    margin: 0;
    padding-top: 6px;
    padding-left: 86px;
}

.main-block__companyback {
    position: relative;
    top: 174px;
    left: 246px;
    width: 326px;
    height: 301px;
    background-color: #FFFFFF;
    border-radius: 15px;
    z-index: 2;
}

.main-block__high {
    position: relative;
    margin: 0;
    padding-left: 93px;
    padding-top: 27px;
    font-size: 18px;
    font-weight: 700;
    color: #121B30;
    line-height: 22px;
}

.main-block__high::after {
    content: "";
    position: absolute;
    top: 39px;
    right: 265px;
    width: 20px;
    height: 17px;
    background-image: url("../image/🎨 line-up.png");
}

.main-block__high::before {
    content: "";
    position: absolute;
    top: 21px;
    right: 251px;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: #F6F4FC;
}

.main-block__diagram {
    position: relative;
    top: -15px;
    left: 299px;
    width: 238px;
    height: 164px;
    border: 1px solid #E6EBF0;
    background-image: url("../image/Rectangle 16.svg");
    z-index: 3;
}

.main-block__line-1 {
    position: absolute;
    top: 39px;
    right: 0;
    width: 238px;
    height: 0;
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 1.svg");
    z-index: 4;
}

.main-block__line-2 {
    position: absolute;
    top: 82px;
    right: 0;
    width: 238px;
    height: 0;
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 2.svg");
    z-index: 4;
}

.main-block__line-3 {
    position: absolute;
    top: 125px;
    right: 0;
    width: 238px;
    height: 0;
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 3.svg");
    z-index: 4;
}

.main-block__line-4 {
    position: absolute;
    top: 82px;
    right: 121px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 5.svg");
    z-index: 4;
}

.main-block__line-5 {
    position: absolute;
    top: 82px;
    right: 87px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 5.svg");
    z-index: 4;
}

.main-block__line-6 {
    position: absolute;
    top: 82px;
    right: 53px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 6.svg");
    z-index: 4;
}

.main-block__line-7 {
    position: absolute;
    top: 82px;
    right: 19px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 7.svg");
    z-index: 4;
}

.main-block__line-8 {
    position: absolute;
    top: 82px;
    right: -15px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 8.svg");
    z-index: 4;
}

.main-block__line-9 {
    position: absolute;
    top: 82px;
    right: -49px;
    width: 164px;
    height: 0;
    transform: rotate(-90deg);
    border: 1px solid #E6EBF0;
    background-image: url("../image/Line 9.svg");
    z-index: 4;
}

.main-block__100 {
    position: absolute;
    top: 116px;
    right: 236px;
    width: 31px;
    height: 18px;
    background: url("../image/100.svg") no-repeat;
    z-index: 4;
}

.main-block__200 {
    position: absolute;
    top: 75px;
    right: 236px;
    width: 31px;
    height: 18px;
    background: url("../image/200.svg") no-repeat;
    z-index: 4;
}

.main-block__300 {
    position: absolute;
    top: 34px;
    right: 236px;
    width: 31px;
    height: 18px;
    background: url("../image/300.svg") no-repeat;
    z-index: 4;
}

.main-block__400 {
    position: absolute;
    top: -7px;
    right: 236px;
    width: 31px;
    height: 18px;
    background: url("../image/400.svg") no-repeat;
    z-index: 4;
}

.main-block__main-line {
    position: absolute;
    top: 6px;
    right: 1px;
    width: 237px;
    height: 133.6px;
    background: url("../image/Vector 6.svg") no-repeat;
    z-index: 4;
}

/*!* Планшет *!*/

/*@media (max-width: 1199px) and (min-width: 991px){*/
/*    !*.header__block {*!*/
/*    !*    flex-wrap: wrap;*!*/
/*    !*    padding-top: 26px;*!*/
/*    !*    padding-bottom: 26px;*!*/
/*    !*    width: 88.54%;*!*/
/*    !*    min-width: 680px;*!*/
/*    !*}*!*/

/*}*/
